.styleaMig {
    float: left;
    margin-left: 20px;
}

.activator {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%)
}

.card:hover .image {
    opacity: 0.3;
}

.card:hover .middle {
    opacity: 1;
}

.card {
    height: 290px;
    margin: 0.5rem 0 0.5rem 0 !important;
}

.card .card-content {
    position: absolute;
    padding: 0px;
    bottom: 0;
    left: 10px;
}

.card-panel {
    width: 270px;
    min-height: 320px;
    padding: 10px !important;
}

.card .card-image img {
    max-height: 244px !important;
}

.card .card-title {
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 200px;
}

.carousel {
    position: relative;
    width: 890px !important;
    margin: 0 auto;
}

.carousel.carousel-slider .carousel-item p {
    text-align: left;
    color: #444;
    line-height: 1rem;
}

.carousel carousel-slider {
    height: 337px;
    position: relative;
    /*  top: 0;
    left: 0;*/
    width: 890px !important;
    display: block;
    left: -10px;
}

.carousel .carousel-item {
    display: none;
    width: 200px;
    height: 200px;
    position: /* top: 0; */
    /* left: 0; */
}

.carousel .indicators .indicator-item.active {
    background-color: #475061;
}

.carousel .indicators .indicator-item {
    background-color: rgb(218, 218, 218);
}

@import url(http://fonts.googleapis.com/css?family=Roboto:400);
body {
    background-color: #fff;
    -webkit-font-smoothing: antialiased;
    font: normal 14px Roboto, arial, sans-serif;
}

.form-login {
    background-color: #EDEDED;
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 15px;
    border-color: #d2d2d2;
    border-width: 5px;
    box-shadow: 0 1px 0 #cfcfcf;
}

.form-control {
    border-radius: 10px;
}

.wrapper {
    text-align: center;
}

.login {
    margin-top: 20vh;
}

@media only screen and (max-width: 480px) {
    .card-panel hoverable {
        width: 100px;
    }
}

@media only screen and (max-width: 768px) {
    .card-panel hoverable {
        width: 197px;
    }
    .card-panel {
        width: 197px;
        min-height: 220px !important;
    }
    .card {
        height: 220px;
    }
    .carousel {
        height: 350px !important;
    }
}